<%- include('../partials/header') %>

<body>
    <%- include('../partials/navbar') %>

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Seja bem-vindo, admin.</h1>
            <p class="lead">Essa é a página inicial do painel administrativo. Na barra de navegação no pailnel superior é possível editar, criar ou excluir dados do banco de daods. Try it!</p>
            <hr class="my-4">
            <p>Para voltar para a página inicial clique no botão abaixo.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Voltar</a>
        </div>
        
    </div>
</body>

<%- include('../partials/footer') %>